
.post-container{
    background:rgba(162,244,254,.75);
    padding: 23px;
    margin-bottom: 30px;
    height: 100%;
    position: relative;
}
.post-title{
    font-size: 1.4em;
    display: block;
}

.post-container p{
    margin: 20px 0 25px 0;
}

.posts{
    margin-bottom: 30px;
}

.btn2{
    float: none;
    position: absolute;
    bottom: 23px;
}

p{
    font-size: 1.2em;
}


@media screen and (max-width: 39.9375em){
.btn2{
    display: block;
    width: 90%;
    margin-top: 23px;
}

}