
<div class="row">
  <div class="columns small-12 medium-6 large-4 posts">
    <div class="post-container">
      <div class="row">
        <div class="columns small-12 large-10">
          <a routerLink="/" class="post-title">This is a new title of an article</a>
        </div>
        <div class="columns small-12 large-2 show-for-large">
          <a href="#" class="external">>></a>
        </div>
      </div>
      <p>Our Description</p>
      <a routerLink="/" class="cta-btn btn2">More Info</a>
    </div>
  </div>
</div>